/* compass */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* setup */
/* @group styling */
/* @end */
/* @group media queries */
/* @end */
/* @group animations */
/* @end */
/* layout */
/* @group general styling */
/* line 2, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

/* line 7, ../sass/_base.scss */
body {
  font-family: 'PT Sans', 'Source Sans Pro', sans-serif;
  color: #000;
}

/* line 17, ../sass/_base.scss */
strong {
  font-style: bold;
  font-weight: 700;
}

/* line 22, ../sass/_base.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 27, ../sass/_base.scss */
::selection {
  background: #9fdbdf;
}

/* line 31, ../sass/_base.scss */
::-moz-selection {
  background: #9fdbdf;
}

/* @end */
/* @group additional styling */
/* line 38, ../sass/_base.scss */
.hide {
  display: none;
}

/* line 42, ../sass/_base.scss */
.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* @end */
/* @group nav */
/* line 2, ../sass/_content.scss */
ul {
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.2s ease-in-out 0;
  -o-transition: all 0.2s ease-in-out 0;
  transition: all 0.2s ease-in-out 0;
  margin-left: 125px;
  margin-top: 75px;
  padding: 0;
  padding-right: 20px;
}
@media only screen and (max-width: 600px) {
  /* line 2, ../sass/_content.scss */
  ul {
    margin-left: 25px;
    margin-top: 25px;
  }
}
/* line 26, ../sass/_content.scss */
ul li {
  -webkit-transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.2s ease-in-out 0;
  -o-transition: all 0.2s ease-in-out 0;
  transition: all 0.2s ease-in-out 0;
  font-weight: 400;
  font-size: 14px;
}
@media only screen and (max-width: 400px) {
  /* line 26, ../sass/_content.scss */
  ul li {
    font-size: 12px;
  }
  /* line 32, ../sass/_content.scss */
  ul li.header {
    font-size: 20px;
  }
  /* line 36, ../sass/_content.scss */
  ul li #noun, ul li #pronunciation, ul li #definition {
    font-size: 12px;
  }
}
/* line 47, ../sass/_content.scss */
ul li a:hover {
  background-color: yellow;
}
/* line 57, ../sass/_content.scss */
ul li:before {
  content: '';
  margin-right: 7px;
  border-left: 7px solid #c6d2e3;
}
/* line 63, ../sass/_content.scss */
ul li.selected:before {
  content: '';
  margin-right: 7px;
  border-left: 7px solid #9fdbdf;
}
/* line 90, ../sass/_content.scss */
ul li.sub {
  line-height: 2;
}

/* @end */
/* @group header */
/* line 108, ../sass/_content.scss */
.header {
  font-weight: 700;
  font-style: bold;
  font-size: 28px;
  margin-bottom: 15px;
}

/* line 161, ../sass/_content.scss */
#description {
  font-weight: 400;
  font-size: 14px;
  display: block;
  padding-left: 55px;
  padding-top: 10px;
  color: #dddddd;
}

/* line 172, ../sass/_content.scss */
#pronunciation {
  margin-left: 10px;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 1.2px;
}

/* line 182, ../sass/_content.scss */
#noun {
  font-style: normal;
}

/* line 188, ../sass/_content.scss */
#definition {
  -webkit-transition: all 0.1s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.1s ease-in-out 0;
  -o-transition: all 0.1s ease-in-out 0;
  transition: all 0.1s ease-in-out 0;
  font-weight: 400;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  margin-top: -10px;
  padding-left: 55px;
}
/* line 197, ../sass/_content.scss */
#definition.show {
  visibility: visible;
  margin-top: 0px;
  padding-top: 10px;
  opacity: 1;
}

/* @end */
/* @group panel */
/* line 209, ../sass/_content.scss */
.panel {
  position: relative;
  float: left;
  display: inline-block;
}

/* line 253, ../sass/_content.scss */
.content {
  -webkit-transition: all 0.1s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.1s ease-in-out 0;
  -o-transition: all 0.1s ease-in-out 0;
  transition: all 0.1s ease-in-out 0;
  font-weight: 400;
  font-size: 14px;
  margin-top: 75px;
  margin-left: 30px;
  position: absolute;
  width: 500px;
  display: none;
}
/* line 272, ../sass/_content.scss */
.content.show {
  display: block;
}

/* @end */
/* line 288, ../sass/_content.scss */
#content-back {
  background: url("../../images/back.png");
  background-size: 100px auto;
}

/* line 297, ../sass/_content.scss */
.project-img {
  -webkit-transition: opacity 0.1s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 0.1s ease-in-out 0;
  -o-transition: opacity 0.1s ease-in-out 0;
  transition: opacity 0.1s ease-in-out 0;
  width: 100px;
  height: 100px;
  margin-right: 25px;
  cursor: pointer;
  margin-bottom: 25px;
}
/* line 308, ../sass/_content.scss */
.project-img.last {
  margin-right: 0;
}
/* line 312, ../sass/_content.scss */
.project-img.faded {
  opacity: 0.1;
}
/* line 317, ../sass/_content.scss */
.project-img:hover {
  outline: 7px solid #9fdbdf;
}

/* line 323, ../sass/_content.scss */
.project-tags {
  margin-bottom: 20px;
}

/* line 329, ../sass/_content.scss */
.tag {
  -webkit-transition: all 0.1s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.1s ease-in-out 0;
  -o-transition: all 0.1s ease-in-out 0;
  transition: all 0.1s ease-in-out 0;
  background-color: #c6d2e3;
  margin-right: 20px;
  line-height: 2;
  cursor: pointer;
}
/* line 339, ../sass/_content.scss */
.tag.highlighted {
  background-color: yellow;
}
